In [1]:
import pandas as pd

C:\Users\hdcam\anaconda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
data1 = {
    "Country": ["US", "IE", "BZ", "CA", "AU", "FR"],
    "GDP_PER_CAPITA": [50000, 45000, 47000, 33000, 66000, 39000]
}
df1 = pd.DataFrame(data1)

In [3]:
df1

  Country  GDP_PER_CAPITA
0      US           50000
1      IE           45000
2      BZ           47000
3      CA           33000
4      AU           66000
5      FR           39000

In [4]:
df2 = pd.DataFrame({
    # "Year": [1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010],
    "Year": [year for year in range(1920, 2020, 10)], # list comprehension
    "Unemployment_rate": [9.8, 12, 8, 7.2, 6.9, 4.2, 7, 6.5, 6.2, 5.5]
})

In [5]:
df2

   Year  Unemployment_rate
0  1920                9.8
1  1930               12.0
2  1940                8.0
3  1950                7.2
4  1960                6.9
5  1970                4.2
6  1980                7.0
7  1990                6.5
8  2000                6.2
9  2010                5.5

In [6]:
df3 = pd.DataFrame({
    "Interest_rate": [5, 5.5, 6, 5.5, 5.25, 6.5, 7, 8, 7.5, 8.5],
    "Stock_index_price": [1500, 1550, 1525, 1523, 1515, 1540, 1545, 1560, 1555, 1565]
})
df3

   Interest_rate  Stock_index_price
0           5.00               1500
1           5.50               1550
2           6.00               1525
3           5.50               1523
4           5.25               1515
5           6.50               1540
6           7.00               1545
7           8.00               1560
8           7.50               1555
9           8.50               1565

In [7]:
df1.set_index("Country")

         GDP_PER_CAPITA
Country
US                50000
IE                45000
BZ                47000
CA                33000
AU                66000
FR                39000

In [8]:
df1

  Country  GDP_PER_CAPITA
0      US           50000
1      IE           45000
2      BZ           47000
3      CA           33000
4      AU           66000
5      FR           39000

In [9]:
df1.set_index("Country", inplace=True)

In [10]:
df1

         GDP_PER_CAPITA
Country
US                50000
IE                45000
BZ                47000
CA                33000
AU                66000
FR                39000

In [11]:
df2.set_index("Year", inplace=True)

## Dashboard With GUI - TKinter

In [12]:
import tkinter as tk
import matplotlib.pyplot as plt
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg

In [13]:
root = tk.Tk()

# Plotting df1 as a bar chart
fig1 = plt.Figure(figsize=(6, 5), dpi=100)
ax1 = fig1.add_subplot(111)

bar1 = FigureCanvasTkAgg(fig1, root)
bar1.get_tk_widget().pack(side=tk.LEFT, fill=tk.BOTH)

df1.plot(kind="bar", legend=True, ax=ax1)
ax1.set_title("Country vs GDP Per Capita")

# Plotting df2 as a line chart/time series plot
fig2 = plt.Figure(figsize=(6, 5), dpi=100)
ax2 = fig2.add_subplot(111)

line2 = FigureCanvasTkAgg(fig2, root)
line2.get_tk_widget().pack(side=tk.LEFT, fill=tk.BOTH)

df2.plot(kind="line", legend=True, ax=ax2, color="r", marker="o")
ax2.set_title("Unemployment Rate from 1920 to 2010")

# Plotting df3 as a scatter plot
# df3.plot(kind="scatter")
# ax3.scatter(x=col1, y=col2)

fig3 = plt.Figure(figsize=(6, 5), dpi=100)
ax3 = fig3.add_subplot(111)

scatter3 = FigureCanvasTkAgg(fig3, root)
scatter3.get_tk_widget().pack(side=tk.LEFT, fill=tk.BOTH)

df3.plot(kind="scatter", x="Interest_rate", y="Stock_index_price", legend=True, ax=ax3, color="g")
ax3.set_title("Stock Index Price vs Interest Rate")

root.mainloop()

## Adding Interactivity

In [14]:
from tkinter import ttk

In [15]:
root = tk.Tk()

canvas = tk.Canvas(root, width=800, height=300)

label = tk.Label(root, text="GUI")
label.config(font=("Ariel", 20))
canvas.create_window(400, 50, window=label)

# Dropdown menu
combobox = ttk.Combobox(root)
combobox["values"] = ("df1", "df2", "df3")
canvas.create_window(400, 220, window=combobox)

combobox.grid(row=0, column=1)
combobox.current(1)

def createCharts():
    clearCharts()
    global chart
    grid_position = [4, 3]

    # Get the data that the user selected
    df = combobox.get()

    if df == "df1":
        # Plotting df1 as a bar chart
        fig1 = plt.Figure(figsize=(6, 5), dpi=100)
        ax1 = fig1.add_subplot(111)
        
        chart = FigureCanvasTkAgg(fig1, root)
        chart.get_tk_widget().grid(row=grid_position[0], column=grid_position[1])
        
        df1.plot(kind="bar", legend=True, ax=ax1)
        ax1.set_title("Country vs GDP Per Capita")
    elif df == "df2":
        # Plotting df2 as a line chart/time series plot
        fig2 = plt.Figure(figsize=(6, 5), dpi=100)
        ax2 = fig2.add_subplot(111)
        
        chart = FigureCanvasTkAgg(fig2, root)
        chart.get_tk_widget().grid(row=grid_position[0], column=grid_position[1])
        
        df2.plot(kind="line", legend=True, ax=ax2, color="r", marker="o")
        ax2.set_title("Unemployment Rate from 1920 to 2010")
    else:
        # Plotting df3 as a scatter plot
        fig3 = plt.Figure(figsize=(6, 5), dpi=100)
        ax3 = fig3.add_subplot(111)
        
        chart = FigureCanvasTkAgg(fig3, root)
        chart.get_tk_widget().grid(row=grid_position[0], column=grid_position[1])
        
        df3.plot(kind="scatter", x="Interest_rate", y="Stock_index_price", legend=True, ax=ax3, color="g")
        ax3.set_title("Stock Index Price vs Interest Rate")

def clearCharts():
    try: # Get rid of old chart, if exists
        chart.get_tk_widget().grid_forget()
    except Exception as e: # Do nothing if no chart exists
        print(e)
        pass

# Buttons
createChartsButton = tk.Button(
    root,
    text="Create Chart",
    command=createCharts,
    bg="palegreen", # button background colour
    font=("Poppins", 11, "bold")
).grid(row=1, column=0)
canvas.create_window(400, 100, window=createChartsButton)

clearChartsButton = tk.Button(
    root,
    text="Clear Chart",
    command=clearCharts,
    bg="yellow", # button background colour
    font=("Poppins", 11, "bold")
).grid(row=2, column=0)
canvas.create_window(400, 200, window=clearChartsButton)

exitButton = tk.Button(
    root,
    text="Exit",
    command=root.destroy,
    bg="red", # button background colour
    font=("Poppins", 25, "bold")
).grid(row=3, column=0)
canvas.create_window(600, 200, window=exitButton)

root.mainloop()

name 'chart' is not defined

## Practice:

Make a GUI for the googleplaystore.csv

Display a pie chart of the content ratings

Allow the user to select the category from a drop-down menu (combobox)